<!DOCTYPE html>
<!--[if IE 6]> <html class="no-js" id="ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7]> <html class="no-js" id="ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8]> <html class="no-js" id="ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html class="no-js" dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<title>Fringe-X</title>
<!-- <link rel="shortcut icon" href="favicon.png" > -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5shiv-printshiv.js"></script>
<![endif]-->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>
<body>
<div class="wrapper">
  <div class="overlayBg"></div>
  <div class="overlayCont findLoc">
    <div class="frmWrap">
      <div class="inBox">
        <input type="text" name="serLoc" id="serLoc" placeholder="Search Location">
        <input type="submit" name="search" value="search">
      </div>
      <h2>Find Your Location</h2>
      <hr>
      <div class="frmContainer">
        <div class="cityLst">
          <h3>Popular cities</h3>
          <div class="row">
            <ul>
              <li>Agra</li>
              <li>Ahmedabad</li>
              <li>Bangalore</li>
              <li>Bhopal</li>
              <li>Chennai</li>
              <li>Delhi</li>
            </ul>
            <ul>
              <li>Hyderabad</li>
              <li>Indore</li>
              <li>Jaipur</li>
              <li>Kanpur</li>
              <li>Kolkata</li>
              <li>Lucknow</li>
            </ul>
            <ul>
              <li>Lucknow</li>
              <li>Ludhiana</li>
              <li>Mumbai</li>
              <li>Nagpur</li>
              <li>Patna</li>
              <li>Pune</li>
            </ul>
            <ul>
              <li>Lucknow</li>
              <li>Ludhiana</li>
              <li>Mumbai</li>
              <li>Nagpur</li>
              <li>Patna</li>
              <li>Pune</li>
            </ul>
          </div>
        </div>
        <div class="cityLst">
          <h3>Popular cities</h3>
          <div class="row">
            <ul>
              <li>Agra</li>
              <li>Ahmedabad</li>
              <li>Bangalore</li>
              <li>Bhopal</li>
              <li>Chennai</li>
              <li>Delhi</li>
            </ul>
            <ul>
              <li>Hyderabad</li>
              <li>Indore</li>
              <li>Jaipur</li>
              <li>Kanpur</li>
              <li>Kolkata</li>
              <li>Lucknow</li>
            </ul>
            <ul>
              <li>Lucknow</li>
              <li>Ludhiana</li>
              <li>Mumbai</li>
              <li>Nagpur</li>
              <li>Patna</li>
              <li>Pune</li>
            </ul>
            <ul>
              <li>Lucknow</li>
              <li>Ludhiana</li>
              <li>Mumbai</li>
              <li>Nagpur</li>
              <li>Patna</li>
              <li>Pune</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- frmContainer ends --> 
    </div>
    <!-- frmWrap ends --> 
  </div>
  <!-- overlayFrm end --> 
  
</div>
</body>
</html>
