<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Big Business
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120210
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<title>Fringe X</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'fringe_x/styles/index_style.css'%}" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Fringe X</a></h1>
		</div>
		<!--<div id="slogan">
			<h2>Design by TEMPLATED</h2>
		</div>-->
	</div>
	<div id="menu">
        <form method="post" action="http://localhost:8000/fringex/">
		<ul>
			<li>
                <select>
                    <option>first</option>
                    <option>first</option>
                    <option>first</option>
                </select>
            </li>
			<!--<li><a href="#">Products</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">About</a></li>
			<li class="last"><a href="#">Contact</a></li>-->
		</ul>
            </form>
		<br class="clearfix" />
	</div>
	<!--<div id="splash">
		<img class="pic" src="{% static "fringe_x/images/pic01.jpg" %}" width="870" height="230" alt="" />
	</div>-->
	<div id="page">
			<table style="width=100%;">
                {% if sub_cats %}
                {% for cat in sub_cats %}
                <tr><td>{{ cat.name_of_product_subcategory }}</td></tr>
                {% endfor %}
                {% endif %}
            </table>
<div id="footer">

</div>
</body>
</html>