<!DOCTYPE html>
<!--[if IE 6]> <html class="no-js" id="ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7]> <html class="no-js" id="ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8]> <html class="no-js" id="ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html class="no-js" dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
	{% load staticfiles %}
	{% csrf_token %}
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>Fringe-X</title>
	<!-- <link rel="shortcut icon" href="favicon.png" > -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script src="/static/fringe_discussion/js/jquery-1.9.1.min.js"></script>
	<script src="/static/fringe_discussion/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/fringe_discussion/js/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/fringe_discussion/css/style.css" />
	<link href="/static/fringe_discussion/css/jquery-ui.css" rel="stylesheet">
	<script src="/static/fringe_discussion/js/jquery.flexslider-min.js" type="text/javascript"></script>
	<script src="/static/fringe_discussion/js/custom.js"></script>
	<script src="/static/fringe_discussion/SpryAssets/SpryAccordion.js" type="text/javascript"></script>
	<script src="/static/fringe_discussion/js/jquery.elastic.source.js"></script>
	<script src="/static/fringe_discussion/js/jquery.autosize.js"></script>
	<script>
$(document).ready(function(){
$("#circle_selection").buttonset();
$('textarea').autosize();
  	$(".discList .discBlock:nth-child(2n)").addClass("even");

  	$( "#accordion" ).accordion();

	  $( "#dialog" ).dialog({
		autoOpen: false,
		width: 400,
		buttons: [
			{
				text: "Ok",
				click: function() {
					$( this ).dialog( "close" );
				}
			},
			{
				text: "Cancel",
				click: function() {
					$( this ).dialog( "close" );
				}
			}
		]
	});


	$( "#slider" ).slider({
		range: true,
		values: [ 17, 67 ]
	});

	$('.fRight').flexslider({
		animation: 'slide',
		animationLoop: 'true',
		animationSpeed: 1000,
		slideshow:true,
		direction: "vertical", 
		controlsContainer: '.flexslider'
	});

});
function populate_reply_button()
{
var spanReply=document.createElement("span");
$(spanReply).addClass("");
}
function populate_disc_sub_cat_dropdown(prime_cat_name)
{
	$.ajax({
		url:'/fringe_circle/get_subcat_names/'+prime_cat_name+'/',
		dataType:'json',
	}).done(function(data){
		 $('#post_disc_sub_cat_name').empty();
		 $('#post_disc_sub_cat_name').append("<option> Select sub-category</option>");
		 for(var i=0;i<data.length;i++)
		 {
		 	$('#post_disc_sub_cat_name').append("<option value='"+data[i]+"'>"+data[i]+"</option>");
		 }
		//alert(data.length);
	});
}

</script>
	<link rel="stylesheet" type="text/css" href="/static/fringe_discussion/css/responsive.css" />
	<link href="/static/fringe_discussion/SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css">
</head>
<body>
<span onclick="test();">sample</span>
<div class="wrapper">
	<div class="header">
		<div class="headTop">
			<div class="container">
				<!-- <div class="row" -->
				<h1 class="logo"> <a href="/fringe_circle/">Fringe-Circle</a> </h1>
				<div class="topNav">
					<div class="hmLink"><a href="#"><img width="22px"src="/static/fringe_x/images/location-white.png"/>
						{% if location_state_context %}
						{% if location_city_context %}
						{{ location_city_context }}  ({{ location_state_context }})
						{% endif %}
						{% endif %}</a></div>
					{% if current_user_context %}
					<div class="logBtns">
						<a href="#" id="signin" class="signBtn">Hi {{ current_user_context.name }}</a>
						<a href="/fringe_circle/logout/" id="regin" class="regBtn">Logout</a>
					</div>
					{% endif %}

					{% if not current_user_context %}
					<div class="socialIco"> <a href="#" class="fb" title="Facebook">Facebook</a> <a href="#" class="twit" title="twitter">Twitter</a> <a href="#" class="gPlus" title="Google Plus">Google Plus</a> <a href="#" class="lkIn" title="Linked In">Linked In</a> </div>
					{% endif %}
				</div>
				<!-- topNav ends -->
				<!-- </div> -->
			</div>
		</div>
		<!-- headTop ends -->
		<div class="headLinks">
			<div class="container">
				<div class="headCol"> <a href="/fringe_circle/fringe_x/"><span><img src="/static/fringe_discussion/images/friX-icon.png" alt=""></span><span>Fringe-X</span></a> </div>
				<div class="headCol"> <a href="/fringe_circle/fringe_board/all/"><span><img src="/static/fringe_discussion/images/friBoard-icon.png" alt=""></span><span>Fringe-Board</span></a> </div>
				<div class="headCol"> <a href="#"><span><img src="/static/fringe_discussion/images/friExp-icon.png" alt=""></span><span>Fringe-Exp</span></a> </div>
				<div class="headCol"> <a href="#"><span><img src="/static/fringe_discussion/images/deal-icon.png" alt=""></span><span>Fringe-Deal</span></a> </div>
			</div>
			<!-- headLinks ends -->
		</div>
		<!-- headLinks ends -->
		<div class="headSearch">
			<div class="container">
				<form action="" method="">
					<div class="srcForm frg-serch">
						<div id="popup" class="selBox">
							<select>
								<option>
									{% if location_state_context %}
									{% if location_city_context %}
									{{ location_state_context }}>{{ location_city_context }}
									{% endif %}
									{% endif %}
								</option>
							</select>
						</div>
						<div class="inBox frige-box" id="popup2">
							<input type="text" name="serKeyword" id="keyword" placeholder="What your discussion?">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- header ends -->
	<div class="content">
		<div class="container">
			<div class="categoryLst">
				<div class="catHead">
					<div class="headLeft">
						<h2 class="head automob">  <span class="headTxt">
							{% if current_cat_context %}
							{{ current_cat_context }}
							{% endif %}
						</span> </h2>

						<!-- breadcrumb ends -->
					</div>



					<div class="indi-dropdown"><div class="list-dropdown"><select name="">

						<option>View All Discussion</option>
					</select></div>
					</div>
					<div class="indi-dropdown sort-by"><div class="list-dropdown"><select name="">

						<option>Sort by</option>
						<option>Oldest</option>
						<option>Answered</option>
						<option>UnAnswered</option>
						<option>Most Liked</option>
					</select></div>
					</div>
					<!-- headLeft ends -->

					<!-- headRht ends -->
				</div>
				<!-- catHead ends -->
				<div class="main">
					<div class="mainWrap">

						<div class="filterCol">
							<div class="custom">
								<h3>Q&A Categories</h3>
								<div id="circle_selection" style="width:100%;">
									<input type="radio" id="my_circle" checked="checked" name="circle_btn"><label for="my_circle">My Circle</label>
									<input type="radio" id="all_circle" name="circle_btn"><label for="all_circle">All Circles</label>
								</div>
								<div id="accordion">
									{% if prime_cat_context %}
									{% for prime_cat in prime_cat_context %}
									<div class="colapse"><a href="/fringe_circle/fringe_board/{{ prime_cat.name }}/">{{ prime_cat.name }}</a></div>
									<div class="accordion ul">
										{% if sub_cat_context %}
										{% for sub_cat in sub_cat_context %}
										{% ifequal sub_cat.discussion_prime_category prime_cat %}
										<ul>
											<li>{{ sub_cat.name }}</li>
										</ul>
										{% endifequal %}
										{% endfor %}
										{% endif %}
									</div>
									{% endfor %}
									{% endif %}
								</div>
							</div>
							<!-- accordion ends -->
						</div>

						<!-- filterCol ends -->
						<div class="catListing listView">
							<div class="catWrap" id="catWrap">
								<!--First-box-->
								{% if discussions_context %}
								{% for discussion in discussions_context %}
								<div class="fringe-disc">
									<div class="fringe-disc-row">
										<div class="fringe-user"> <img src="/static/fringe_discussion/images/fri-user.png"> </div>
										<div class="fringe-chat">
											<a href="/fringe_circle/fringe_individual_discussion/{{ discussion.id }}" style="float:right;">{{ discussion.no_of_views }} views</a>
											<div class="fring-social">

												<!--<a href="#" class="fb"></a>-->
												<!--<a href="#" class="gt"></a>-->
												<!--<a href="#" class="twttr"></a>-->
											</div>
											<h2><a href="/fringe_circle/fringe_individual_discussion/{{ discussion.id }}">{{ discussion.title }}</a></h2>
											<div class="fringe-month">{{ discussion.user.name }} asked  -  {{discussion.category.name}}:{{ discussion.subcategory.name }} - {{ discussion.publish_date }}</div>
											<div class="fringe-que">{{ discussion.description }} <a href="/fringe_circle/fringe_individual_discussion/{{ discussion.id }}" class="rdmore">Read more »</a> </div>
											<div class="sprit-icon">
												<span class="cal">
													{{ discussion.publish_date }}
												</span>
												<span class="ans">
													<a href="/fringe_circle/fringe_individual_discussion/{{ discussion.id }}/">
														{{ discussion.answers_count }} Answers
													</a>
												</span>
												<!--<span class="rep">-->
												<!--Reply-->
												<!--</span>-->
												<span id="like_{{ discussion.id }}" class="like" onclick="get_likes_dislikes('like','{{ discussion.id }}');" style="cursor:pointer;">
													{{ discussion.like_count }} likes
												</span>
												<span id="unlike_{{ discussion.id }}" class="unlike" onclick="get_likes_dislikes('unlike','{{ discussion.id }}');" style="cursor:pointer;">
													{{ discussion.unlike_count }} unlikes
												</span>
												<span class="foll">
													Follow
												</span>
												<!--<span class="share">-->
													<!--Share-->
												<!--</span>-->
											</div>

											<form id="formno_{{ discussion.id }}" action="/fringe_circle/create_discussion_reply_form/{{ discussion.id }}/" method="POST">{% csrf_token %}
												<textarea id="text_{{ discussion.id }}" placeholder="Answer this Question" class="board-disc-reply-box" name="reply_text"></textarea>
											<span class="board-disc-reply-btn" onclick="post_board_replies('text_{{ discussion.id }}','{{ discussion.id }}');">
												Reply
											</span>
											</form>

										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							</div>
							<div class="white-space"></div>
							<!-- catWrap ends -->
							<div class="pagination">
								<a href="#">prev</a>
								<a href="#" style="text-decoration:underline;">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a>next</a>
							</div>
						</div>
						<!-- catListing ends -->
						<div class="sideWidget">
							<div class="custom">
								<h3>Popular Discussion</h3>
							</div>
							<!-- discList ends -->
							<div class="relDeals">
								<div class="deal-lst">
									<div class="dealItem">
										<div class="dealDet">
											<p>&nbsp;</p>
											<p>What's the easiest way to learn how to play a piano?</p>
											<div class="dealDt">jimmyJeffers Asked - 400 Answers</div>
										</div>

										<div class="dealDet">
											<p>What's the easiest way to learn how to play a piano?</p>
											<div class="dealDt">jimmyJeffers Asked - 400 Answers</div>
										</div>
										<div class="dealDet">
											<p>What's the easiest way to learn how to play a piano?</p>
											<div class="dealDt">jimmyJeffers Asked - 400 Answers</div>
										</div>																</div>

									<div class="related">
										<h3>Related Ads</h3>

										<div class="itemThumb">
											<div class="lbl used">Used</div>
											<img src="/static/fringe_discussion/images/proThumb.jpg"> </div>

										<div class="brand-row">
											<a href="#" class="relate-rs">35,000/-</a>
											<span class="brand-name">Nokia Lumia</span>
											<span class="date-brd">Today, 15:02</span>
										</div>
									</div>

									<div class="related deal">
										<h3>Related Deals</h3>

										<div class="dealDet">
											<div class="del-relate-img"><img src="/static/fringe_discussion/images/dealIcon.png"></div>
											<div class="deal-rltd">																		<p>What's the easiest way to learn how to play a piano?</p>
												<div class="dealDt">14 Nov, 2012 </div>
											</div>
										</div>

										<div class="dealDet">
											<div class="del-relate-img"><img src="/static/fringe_discussion/images/dealIcon.png"></div>
											<div class="deal-rltd">																		<p>What's the easiest way to learn how to play a piano?</p>
												<div class="dealDt">14 Nov, 2012 </div>
											</div>
										</div>


										<div class="dealDet">
											<div class="del-relate-img"><img src="/static/fringe_discussion/images/dealIcon.png"></div>
											<div class="deal-rltd">																		<p>What's the easiest way to learn how to play a piano?</p>
												<div class="dealDt">14 Nov, 2012 </div>
											</div>
										</div>

										<div class="dealDet">
											<div class="del-relate-img"><img src="/static/fringe_discussion/images/dealIcon.png"></div>
											<div class="deal-rltd">																		<p>What's the easiest way to learn how to play a piano?</p>
												<div class="dealDt">14 Nov, 2012 </div>
											</div>
										</div>
									</div>											<!-- dealItem end -->

									<!-- dealItem end -->

									<!-- dealItem end --><!-- dealItem end -->

									<!-- dealItem end --><!-- dealItem end -->
								</div>
								<!-- deal-lst end -->
							</div>
						</div>
						<!-- sideWidget ends -->
					</div>
				</div>
			</div>
		</div>
		<!-- container ends -->
	</div>
	<div class="container top-offset">
		<div class="linkBox">
			<div class="boxCol ad">
				<div class="adLnk">
					<img src="/static/fringe_discussion/images/google.jpg">
				</div>
			</div>
			<!-- twitPost ends -->
			<div class="boxCol ad">
				<div class="adLnk">
					<img src="/static/fringe_discussion/images/add-3.jpg">
				</div>
			</div>
			<!-- popCat ends -->
			<div class="boxCol ad">
				<div class="adLnk"> <img src="/static/fringe_discussion/images/add-4.jpg"> </div>
			</div>
			<!-- vidLnk ends -->
		</div>
	</div>
	<!-- content ends -->
	<div class="footer">
		<div class="footTop">
			<div class="container">
				<div class="row">
					<div class="footCol list">
						<h3>Popular Cities</h3>
						<ul class="lstCol first">
							<li><a href="#">Ahmdabad</a></li>
							<li><a href="#">Banglore</a></li>
							<li><a href="#">Chandigarh</a></li>
							<li><a href="#">Chennai</a></li>
							<li><a href="#">Coimbatore</a></li>
							<li><a href="#">Delhi</a></li>
							<li><a href="#">Gurgaon</a></li>
							<li><a href="#">Hyderabad</a></li>
						</ul>
						<ul class="lstCol">
							<li><a href="#">Ahmdabad</a></li>
							<li><a href="#">Banglore</a></li>
							<li><a href="#">Chandigarh</a></li>
							<li><a href="#">Chennai</a></li>
							<li><a href="#">Coimbatore</a></li>
							<li><a href="#">Delhi</a></li>
							<li><a href="#">Gurgaon</a></li>
							<li><a href="#">Hyderabad</a></li>
						</ul>
						<ul class="lstCol">
							<li><a href="#">Jipur</a></li>
							<li><a href="#">Kochi</a></li>
							<li><a href="#">Kolkata</a></li>
							<li><a href="#">Lucknow</a></li>
							<li><a href="#">Mumbai</a></li>
							<li><a href="#">Pune</a></li>
							<li><a href="#">All Cities</a></li>
						</ul>
					</div>
					<div class="footCol list two">
						<h3>Quick Links</h3>
						<ul class="lstCol first">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">All Cities</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Premium Ads</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="#">Advertise With Us</a></li>
						</ul>
						<ul class="lstCol">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">All Cities</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Premium Ads</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="#">Advertise With Us</a></li>
						</ul>
					</div>
					<div class="footCol">
						<h3>About Us</h3>
						<p>Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.</p>
					</div>
					<div class="footCol">
						<h3>Get In Touch</h3>
						<p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. </p>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.</p>
						<div class="footCont">
							<div class="location">
								<p><span>icon</span><span>Moonshine Street No: 14/05<br>
																Light City, Jupiter</span></p>
							</div>
							<div class="contNo">
								<p><span>icon</span><span>0247 541 65 87</span></p>
							</div>
							<div class="mail">
								<p><span>icon</span><span><a href="mailto:support@longwave.com">support@longwave.com</a></span></p>
							</div>
						</div>
					</div>
				</div>
				<!-- row ends -->
				<div class="footNav">
					<ul>
						<li><a href="#">News</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">Techology</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Movies</a></li>
						<li><a href="#">Entertainment</a></li>
						<li><a href="#">Culture</a></li>
						<li><a href="#">Books</a></li>
						<li><a href="#">Classifieds</a></li>
						<li><a href="#">Blogs</a></li>
					</ul>
				</div>
				<div class="footInfo">
					<p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
				</div>
			</div>
		</div>
		<!-- footTop ends -->
		<!--Footer Bottom-->
		<div class="footBottom">
			<div class="container">
				<div class="fleft">
					<div>Copyright © 2014 Company Name.</div>
					<div class="footLnk"><a href="#">Terms &amp; Conditions</a><a href="#">Privacy Policy</a> </div>
				</div>
				<div class="fRight">
					<div class="footImg"><img src="images/footImg.jpg" alt=""></div>
					<div class="footTxt"><span>Lorem Ipsum</span> ut aliquam massa nisl quis neque. Suspendisse in orci enim, aliquam massa nisl quis neque. Suspendisse in orci enim. </div>
				</div>
			</div>
		</div>
	</div>
	<!--popup-->

	<!--Find Location-->

	<div class="find-locate">
		<div class="disc-post-wr"> <span class="close-btn">x</span>
			<div class="overlayCont findLoc">
				<div class="frmWrap">
					<div class="inBox">
						<input type="text" name="serLoc" id="serLoc" placeholder="Search Location">
						<input type="submit" name="search" value="search">
					</div>
					<h2>Find Your Location</h2>
					<hr>
					<div class="frmContainer">
						<div class="cityLst">
							<h3>Popular cities</h3>
							<div class="row">
								<ul>
									<li>Agra</li>
									<li>Ahmedabad</li>
									<li>Bangalore</li>
									<li>Bhopal</li>
									<li>Chennai</li>
									<li>Delhi</li>
								</ul>
								<ul>
									<li>Hyderabad</li>
									<li>Indore</li>
									<li>Jaipur</li>
									<li>Kanpur</li>
									<li>Kolkata</li>
									<li>Lucknow</li>
								</ul>
								<ul>
									<li>Lucknow</li>
									<li>Ludhiana</li>
									<li>Mumbai</li>
									<li>Nagpur</li>
									<li>Patna</li>
									<li>Pune</li>
								</ul>
								<ul>
									<li>Lucknow</li>
									<li>Ludhiana</li>
									<li>Mumbai</li>
									<li>Nagpur</li>
									<li>Patna</li>
									<li>Pune</li>
								</ul>
							</div>
						</div>
						<div class="cityLst">
							<h3>Popular cities</h3>
							<div class="row">
								<ul>
									<li>Agra</li>
									<li>Ahmedabad</li>
									<li>Bangalore</li>
									<li>Bhopal</li>
									<li>Chennai</li>
									<li>Delhi</li>
								</ul>
								<ul>
									<li>Hyderabad</li>
									<li>Indore</li>
									<li>Jaipur</li>
									<li>Kanpur</li>
									<li>Kolkata</li>
									<li>Lucknow</li>
								</ul>
								<ul>
									<li>Lucknow</li>
									<li>Ludhiana</li>
									<li>Mumbai</li>
									<li>Nagpur</li>
									<li>Patna</li>
									<li>Pune</li>
								</ul>
								<ul>
									<li>Lucknow</li>
									<li>Ludhiana</li>
									<li>Mumbai</li>
									<li>Nagpur</li>
									<li>Patna</li>
									<li>Pune</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- frmContainer ends -->
				</div>
				<!-- frmWrap ends -->
			</div>
			<div class="clearfx"></div>
		</div>
	</div>

	<div class="disc-post">
		<div class="disc-post-wr">
			<span class="close-btn">x</span>
			<div class="row">
				<form action="/fringe_circle/post_discussion/" method="POST">{% csrf_token %}
					<label class="close">Your Discussion</label>

					<input type="text" placeholder="Discussion Title?" class="post-f-bx" name="discussion_title_postdisc">


			</div>
			<div class="row">
				<div class="post-bx-col">

					<label>Select Category</label>
					<div class="list-dropdown">
						{% if prime_cat_context %}
						<select name="post_disc_prime_cat_name" id="post_disc_prime_cat_name" onchange="populate_disc_sub_cat_dropdown(this.options[this.selectedIndex].value);">
							<option>Select Category</option>
							{% for prime_cat in prime_cat_context %}
							<option value="{{ prime_cat.name }}" style="cursor:pointer;">{{ prime_cat.name}}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>
				</div>

				<div class="post-bx-col last">
					<label>Select Sub-Category</label>
					<div class="list-dropdown">
						<select name="post_disc_sub_cat_name" id="post_disc_sub_cat_name">
							<option>Select sub-category</option>
						</select>
					</div></div>
			</div>

			<div class="row">
				<div class="post-bx-col">

					<label>Is your discussion location specific?</label>
					<div class="post-f-bx">
						<div class="rdio-col first"></div>
						<div class="rdio-col active"><span><input type="radio" value="yes" name="location_specific_radio" onclick="enable_locations(this.value);"></span>Yes</div>
						<div class="rdio-col active"><span><input type="radio" value="No" name="location_specific_radio" checked="checked" onclick="enable_locations(this.value);"></span>No</div>
					</div>


					<div class="list-dropdown">
						{% if all_states_context %}
						<select disabled name="state_select_postdisc" id="state_select_postdisc" onchange="populate_city_postdisc(this.options[this.selectedIndex].value);">
							<option>Select State</option>
							{% for state in all_states_context %}
							<option value="{{ state.name_of_state }}" style="cursor:pointer;">{{ state.name_of_state }}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>

					<div class="list-dropdown">
						<select disabled name="city_select_postdisc" id="city_select_postdisc" onchange="populate_locality_postdisc(this.options[this.selectedIndex].value);">

							<option>Select City</option>
						</select>
					</div>
					<div class="list-dropdown">
						<select disabled name="locality_select_postdisc" id="locality_select_postdisc">

							<option>Locality</option>
						</select>
					</div>
				</div>

				<div class="post-bx-col last">
					<label>Description</label>
					<textarea rows="" class="post-f-bx" cols="" name="description_postdisc" placeholder="Add Description.."></textarea></div>
			</div>

			<div class="post-btn-row">
				<div class="postBtn"><input name="" value="SUBMIT" type="submit">

				</div>
			</div>
			</form>
			<div class="clearfx"></div>


		</div>
	</div>


	<div class="overley-bg"></div>
	<!--popup-->
	<script type="text/javascript">
(function($) {
    
  var allPanels = $('.accordion > div').hide();
    
  $('.accordion > div > a').click(function() {
    allPanels.slideUp();
    $(this).parent().next().slideDown();
    return false;
  });

})(jQuery);
</script>
</body>
</html>
